{% if section.blocks.size > 0 %}
  <div class='slider-proposal-product'>
    <div class='page-width slider-proposal-product__container'>
      <div class='slider-proposal-product__content'>
        <h2 class='slider-proposal-product__title'>Product title</h2>
        <p class='slider-proposal-product__subtitle'>Product subtitle</p>
      </div>
      <div class='slider-proposal-product__slider'>
        <ul class='slider-proposal-product__slider-list'>
          {% for block in section.blocks %}
            {% if block.settings.proposal_product != blank -%}
              {% assign product = block.settings.proposal_product %}
              <li class='slider-proposal-product__slider-item'>
                <h3 class='slider-item__title'>{{ product.title }}</h3>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{%- endif %}

{{ 'slick.css' | asset_url | stylesheet_tag }}
<script src='{{ 'jquery-3.6.4.min.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'slick.min.js' | asset_url }}' defer='defer'></script>
<script>
  document.addEventListener(
    'DOMContentLoaded',
    function () {
      $(
        '#shopify-section-{{section.id}} .slider-proposal-product__slider-list',
      ).slick({
        infinite: true,
        slidesToShow: {{section.settings.slider_items}},
        slidesToScroll: 2,
      });
    },
    false,
  );
</script>
{% schema %}
{
  "name": "Slider Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "slider_items",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Items per page",
      "default": 2
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Proposal product",
      "settings": [
        {
          "type": "product",
          "id": "proposal_product",
          "label": "Our proposal product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Products"
    }
  ]
}
{% endschema %}
